---
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/zoom.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/4c9066f1a6.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Some assorted amateur photos taken by Eric Qiu." />
    <meta property="og:site_name" content="Photos | Eric Qiu" />
    <meta property="og:title" content="Photos | Eric Qiu" />
    <meta property="og:profile:first_name" content="Eric" />
    <meta property="og:profile:last_name" content="Qiu" />
    <meta property="og:description" content="Some assorted amateur photos taken by Eric Qiu." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://photos.ericqiu.io" />
    <meta property="og:image" content="https://photos.ericqiu.io/static/og-image.jpg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="2160" />
    <meta property="og:image:height" content="1131" />
    <meta property="fb:app_id" content="354292068884354" />
    <meta property="tag" content="Eric Qiu"/>
    <meta property="tag" content="Software Engineering" />
    <meta property="tag" content="Hamilton" />
    <meta property="tag" content="Toronto" />
    <meta property="tag" content="Ontario" />
    <meta property="tag" content="City" />
    <meta property="tag" content="Nature" />
    <meta property="tag" content="University of Waterloo" />
    <meta property="tag" content="New York" />
    <meta property="tag" content="Travel" />
    <meta property="tag" content="Spain" />
    <meta property="tag" content="Vietnam" />
    <meta property="tag" content="Japan" />
    <meta property="tag" content="Asia" />
    <meta property="tag" content="Canada" />
    <meta property="tag" content="Photography" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@itsericqiu" />
    <meta name="twitter:image" content="https://photos.ericqiu.io/static/og-image.jpg" />

    <link rel="canonical" href="https://photos.ericqiu.io">
  </head>
  <body>
    <div id="container">
      <!--------------- YOUR NAME OVER HERE -------------->
      <h2 class="header">{{ site.full_name }}</h2>
      <div id="gallery">
      </div>
    </div>
    <div class="footer">
      <div class="links">
        <a id="instagram" class="links__icon" href="https://www.instagram.com/{{ site.instagram }}">
          <span class="view-ig"> View {{ site.full_name }}'s Instagram </span>
          <i class="fa fa-instagram fa-lg"></i>
        </a>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
  <script src="js/transition.js"></script>
  <script src="js/zoom.min.js"></script>
  <script src="js/gallery.js"></script>
  <script>
    var COLUMNS = 'columns';
    var ROWS = 'rows';
    var SQUARES = 'squares';

    var columns = COLUMNS;
    var rows = ROWS;
    var squares = SQUARES;

    var layoutStyle = {{ site.layout_style }};

    var configuration = {
      spacing: {{ site.spacing }},
      shuffle: {{ site.shuffle }},
      columns: {{ site.columns }},
      maxHeight: {{ site.max_height }}
    };
  </script>
  <script src="js/script.js"></script>
  {% include ga.html %}
</html>
